#root {
  max-width: 900px;
  width: 100%;
  margin: 3.125rem auto;
  padding: 2rem;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  background-color: #f6f7f9;
  border-radius: 8px;
}

body {
  overflow-y: scroll;
}
